<!-- <nav class="navbar bg-dark navbar-dark navbar-expand-lg position-absolute" id="mainNav">
    <div class="container-fluid ms-2">
        <span class="navbar-brand">benjaminpersitz.dev</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span class="me-3 nav-link active mr-2 " aria-current="page">Home</span>
            <span void class="me-3 nav-link">Projects</span>
            <span class="me-3 nav-link">About</span>
            <span class="me-3 nav-link">Contact</span>
        </div>
      </div>
    </div>
  </nav> -->

<!-- <nav class="mainNav">
    <span class="brand">benjaminpersitz.dev</span>
    <div class="links">
        <span>Home</span>
        <span>Projects</span>
        <span>About</span>
    </div>
    <div class="toggler">
        <span><i class="fas fa-hamburger nav-toggle"></i></span>
    </div>
</nav> -->
<div class="mainNav">
    <span class="brand">benjaminpersitz.dev</span>
    <nav class="links">
        <!-- <span>Home</span> -->
        <span>Projects</span>
        <span>About</span>
    </nav>
    <div class="toggler">
        <span><i class="fas fa-hamburger nav-toggle"></i></span>
    </div>
</div>